.paginationArea button{
    margin-right: 10px;
    width: 30px;
    border: none;
    color: #696763;
    background-color: #F0F0E9;
}

.paginationArea .active,
.paginationArea button:hover{
    background: #FE980F;
    color: #fff
}
.paginationArea{
    margin: 15px 0;
}