.fotterInfo {
    background-color: #F0F0E9;
    padding: 30px;
}

.TOP{
    margin-bottom: 30px;
}
.compnyInfo h2 {
    color: #B4B1AB;
    font-family: able;
    font-size: 27px;
    text-transform: uppercase;
}

.compnyInfo h2 span {
    color: #FE980F;
}

.compnyInfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.address {
    position: relative;
}

.address p {
    font-size: 14px;
    color: #666663;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}

h2 {
    color: #666662;
    font-family: 'Roboto';
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: 1000 !important;
}

.searchForm input {
    border: 1px solid #DDDDDD;
    width: 70%;
    margin: 20px 0px;
}

.searchForm button {
    background-color: #FE980F;
    color: white;
    margin-top: -5px;
}
.searchForm p{
    color: #8C8C88;
    font-weight: 300;
    font-family: 'Roboto';
}

/* Botton Footer */
.footorBottom{
    background: #D6D6D0;
    padding-top: 10px;
}

.footorBottom p{
    color: #363432;
    font-weight: 300;

}

.footorBottom p span a{
    color: #FE980F;
    font-style: italic;
    text-decoration: underline;
}