.h2{
    color: #666662;
    font-family: 'Roboto';
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: 1000;
}

.navList{
    list-style: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0px;
}

.navList li a{
    text-decoration: none;
    color: #8c8c88;
}
.navList li{
    margin: 15px 0px;
}